main {
    display: block;
    width: 100%;
}

.contacts {
    background-color: rgb(148, 105, 197);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
}

.sales {
    width: 100%;
    border-color: rgb(148, 105, 197);
    text-align: center;
}

.contacts a {
    color: rgb(25, 6, 47);
}

.cont {
    padding-top: 20px;
    display: flex;
}

.order {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts i {
    font-size: 35px;
    font-weight: 600;
}

.img div {
    animation: app 3s infinite;
}

@keyframes app {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

main {
    animation: slidein 0.8s ease-out;
}

@keyframes slidein {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

.slider_ {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.slider_ .slick-slide {
    height: auto;
}

.slider_ .slick-slide img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.slider_ .slick-prev,
.slider_ .slick-next {
    position: relative;
    z-index: 99;
}