
.card-list {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgb(87, 57, 124);
    padding: 20px;
    background-color: rgb(219, 208, 245);
    border-radius: 10px;
    gap: 10px;
    width: 70%;
}
.product:hover{
    border: 2px solid rgba(46, 46, 46, 0.4);
}
img{
    width: 50%;
    object-fit: cover;
}
.prices{
    display: flex;
    gap: 10px;
}
.sale{
    text-decoration: 2px rgb(124, 43, 43) line-through;
}
.old-price{
    padding: 5px;
    background-color: rgb(226, 151, 151);
    font-size: 20px;
    text-decoration: 2px rgb(124, 43, 43) line-through;
    border-radius: 10px;
}
.card p{
    color: gray;
}

a{
    color: white;
    text-decoration: none;
}
.price{
    background-color: rgb(182, 144, 251);
    padding: 5px;
    border-radius: 10px;
}
.btns{
    display: flex;
    gap: 30px;
}
.butt {
    --font-color: #1e0738;
    --bg-color: #fff;
    --main-color: #502b5a;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
  }
  .butt a{
      color: var(--font-color);
  }
  
  .butt:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

.block{
    display: flex;
    gap: 20px;
}
.block2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heart-back-cont{
  width: 100px;
  padding: 10px;
  background-color: rgb(228, 205, 255);
  border: solid 4px rgb(87, 57, 124);
  border-radius: 10px;
  display: flex;
}

.heart-container {
  --heart-color: rgb(107, 41, 124);
  position: relative;
  width: 30px;
  height: 30px;
  transition: .3s;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}


.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block;
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block;
}
footer{
  padding-top: 60px;
}

.new_prod{
  animation: prod 0.5s ease-out;
}

@keyframes prod {
  0% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}

.cart.checked{
  background-color: rgb(159, 255, 218);
}

.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-inputs {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 16px;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 10px;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: rgb(185, 162, 246);
  font-weight: 600;
}

.description{
  background-color: rgb(212, 205, 230);
}


.slick-prev{
  background-color: rgb(51, 5, 95);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 50%;
  z-index: 3;
  left: 20px;
}
.slick-next{
  background-color: rgb(51, 5, 95);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 50%;
  right: 20px;
}

.modal-header{
  border-bottom: 3px solid rgb(87, 57, 124);
}
.description{
  border-radius: 5px;
}

.heart-back-cont button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  background-color: rgb(221, 184, 255);
  padding: 15px;
}

.heart-back-cont button.inFavorite{
  background-color: rgb(37, 238, 70);
}

.butt.inCart{
    background-color: rgb(149, 228, 162);
}
